<article class="article big">
    {# When the "video" class is present, an icon will be added in css #}
    <div class="image">
        <a class="lazy_responsive_image"
           href="#"
           title="Consulter l'article"
           style="background-image: url('{{ img_url }}placeholder.gif');"
           data-lazy-src-0-480="{{ img_url }}news-mobile.jpg"
           data-lazy-src-481="{{ img_url }}news.jpg">
            <noscript>
                <img src="{{ img_url }}news.jpg" alt="Journée mondiale de la propreté"/>
            </noscript>
        </a>
    </div>
    <div class="content">
        <ul class="tags">
            <li>
                <span>Actualités</span>
            </li>
        </ul>
        <h4 class="title-3">
            <a href="#" title="Consulter l'article">
                Journée mondiale de la propreté
            </a>
        </h4>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae luctus dolor. Fusce
            tempus commodo arcu, at sodales libero feugiat quis. Sed sagittis maximus enim, mattis fringilla nibh
            ullamcorper in. Morbi lacinia magna ut dui ultrices commodo eget a ex. Pellentesque sagittis enim
            diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae luctus dolor. Fusce
            tempus commodo arcu, at sodales libero feugiat quis. Sed sagittis maximus enim, mattis fringilla nibh
            ullamcorper in. Morbi lacinia magna ut dui ultrices commodo eget a ex. Pellentesque sagittis enim
            diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae luctus dolor. Fusce
            tempus commodo arcu, at sodales libero feugiat quis. Sed sagittis maximus enim, mattis fringilla nibh
            ullamcorper in. Morbi lacinia magna ut dui ultrices commodo eget a ex. Pellentesque sagittis enim
            diam. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse vitae luctus dolor. Fusce
            tempus commodo arcu, at sodales libero feugiat quis. Sed sagittis maximus enim, mattis fringilla nibh
            ullamcorper in. Morbi lacinia magna ut dui ultrices commodo eget a ex. Pellentesque sagittis enim
            diam.
        </p>
        <span class="link-arrow link-arrow-blue">
            <a class="link" href="#" title="Continuer la lecture">Lire la suite</a>
        </span>
    </div>
</article>