<div class="logos">
    <a href="./home.html" class="logo">
        <img src="{{ img_url }}logo.svg" alt="INHNI Consultants et Formateurs logo"/>
    </a>
    <a href="https://www.monde-proprete.com/" title="Accéder au site du monde de la propreté" target="_blank"
       class="proprete">
        <img src="{{ img_url }}logo-proprete.svg" alt="Le monde de la propreté logo"/>
    </a>
</div>