<div class="testimonial">
    <p class="txt">
        Très bonne formation. L'animateur prend bien en compte la fonction et le contexte de travail de chacun pour
        illustrer par des exemples et impliquer tout le monde. Le lien constant avec la pratique professionnelle était
        très enrichissant.
    </p>
    <p class="someone">Anita, Responsable</p>
</div>