<ul class="footer-top-right-top-middle">
    <li>
        <a href="#">INHNI recrute</a>
    </li>
    <li>
        <a href="#">Qui sommes-nous ?</a>
    </li>
    <li class="current">
        <a href="#">FAQ</a>
    </li>
    <li>
        <a href="#">CGU</a>
    </li>
</ul>