<ul>
    <li class="fb">
        <a href="#" target="_blank" title="Nous suivre sur Facebook"></a>
    </li>
    <li class="pinterest">
        <a href="#" target="_blank" title="Nous suivre sur Pinterest"></a>
    </li>
</ul>