<ul>
    {% for i in 1..3 %}
        <li>
            <a href="http://www.qualipropre.org/" target="_blank" title="Accéder au site de Qualipropre">
                <img class="lazy_image" src="{{ img_url }}placeholder.gif" alt="Qualipropre"
                     data-lazy-src="{{ img_url }}partner.png"/>
            </a>
        </li>
    {% endfor %}
</ul>