<p class="name">INHNI,</p>
<p class="desc">centre de formation professionnelle continue et en alternance</p>
<p class="addr1">34 Bd Maxime Gorki</p>
<p class="addr2">94800 Villejuif Cedex</p>
<p class="phone">01 46 77 40 40</p>