<nav id="little_menu">
    <ul>
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Le secteur</a></li>
        <li><a href="#">Contact</a></li>
        <li class="current"><a href="#">Catalogue</a></li>
    </ul>
</nav>
