<nav id="menu_mobile">
    <ul>
        <li>
            <a href="#"><span>Entreprises</span></a>
            <ul>
                <li><a href="#">Nous vous accompagnons</a></li>
                <li><a href="#">Nous trouver</a></li>
                <li><a href="#">Recruter en alternance</a></li>
                <li><a href="#">Former ses collaborateurs</a></li>
                <li><a href="#">inhni Conseil</a></li>
            </ul>
        </li>
        <li class="current">
            <a href="#"><span>Salariés</span></a>
            <ul>
                <li><a href="#">Nous vous accompagnons</a></li>
                <li class="current"><a href="#">Comment financer sa formation ?</a></li>
                <li><a href="#">Zoom sur le CPF</a></li>
                <li><a href="#">Nous trouver</a></li>
                <li><a href="#">Découvrir les formations</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span>Jeunes</span></a>
            <ul>
                <li><a href="#">Pourquoi choisir l'alternance ?</a></li>
                <li><a href="#">Découvrir les métiers</a></li>
                <li><a href="#">Nous trouver</a></li>
                <li><a href="#">Du CAP au Bac</a></li>
                <li><a href="#">Du Bac +2 au Bac +5</a></li>
                <li><a href="#">Offres en alternances à pourvoir</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span>Prescripteurs</span></a>
            <ul>
                <li><a href="#">Lorem ipsum dolor sit amet ?</a></li>
                <li><a href="#">Nous trouver</a></li>
                <li><a href="#">Découvrir les métiers</a></li>
                <li><a href="#">Découvrir les formations</a></li>
                <li><a href="#">Offres en alternances à pourvoir</a></li>
            </ul>
        </li>
        <li>
            <a href="#"><span>Demandeurs d'emploi</span></a>
            <ul>
                <li><a href="#">Intégrer le secteur de la propreté</a></li>
                <li><a href="#">Nous trouver</a></li>
                <li><a href="#">Découvrir les formations</a></li>
                <li><a href="#">Comment financer sa formation</a></li>
                <li><a href="#">Offres en alternances à pourvoir</a></li>
            </ul>
        </li>
    </ul>
    <ul>
        <li><a href="#">Qui sommes-nous ?</a></li>
        <li><a href="#">Le secteur</a></li>
        <li class="current"><a href="#">Catalogue</a></li>
        <li><a href="#">Contact</a></li>
    </ul>
    <div id="nav-socials">
        <h4 id="nav-social-title">Follow us</h4>
        <div id="nav-socials-links">
            <ul>
                <li class="fb">
                    <a href="#" target="_blank" title="Nous suivre sur Facebook"></a>
                </li>
                <li class="pinterest">
                    <a href="#" target="_blank" title="Nous suivre sur Pinterest"></a>
                </li>
            </ul>
        </div>
    </div>
</nav>