.inhni-numbers-bloc {
  @include blocPadding;
  background: linear-gradient(228.05deg, $maincolor-1 0%, $maincolor-1-gradient-combination 100%);
  color: #fff;
  text-align: center;
  .desc {
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 28px;
    color: $maincolor-2;
    margin-top: 2.5px;
    letter-spacing: 0.22px;
  }
  .numbers {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    @media screen and (max-width: $desktop-small) {
      flex-direction: column;
    }
    @media screen and (max-width: $tablet-small) {
      align-items: flex-start;
    }
  }
  .digit {
    font-family: $font-2;
    color: $maincolor-2;
    white-space: nowrap;
    font-size: 0;
    letter-spacing: 0;
    @media screen and (min-width: $desktop-small + 1) {
      margin-bottom: 40px;
    }
    .value,
    .percent {
      letter-spacing: 0.5px;
    }
    .value {
      font-size: 50px;
    }
    .percent {
      font-size: 40px;
    }
  }
  .label {
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 0.2px;
    line-height: 19px;
    text-transform: uppercase;
    max-width: 100%;
  }
  .digit,
  .label {
    display: block;
  }
  .number {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    @media screen and (min-width: $desktop-small + 1) {
      height: 213px;
      width: calc((100% - 213px - 4 * 30px) / 4);
      &:not(:last-of-type) {
        margin-right: 30px;
      }
    }
    &:not(.circle) {
      @media screen and (min-width: $desktop-small + 1) {
        padding: 56px 10px 0;
        justify-content: flex-start;
      }
      @media screen and (max-width: $desktop-small) {
        order: 2;
        flex-direction: row;
        justify-content: center;
      }
      @media screen and (max-width: $tablet-medium) {
        &:not(:last-of-type) {
          margin-bottom: 5px;
        }
      }
      @media screen and (max-width: $tablet-small) {
        margin-bottom: 15px;
      }
      .digit {
        @media screen and (max-width: $desktop-small) {
          margin-right: 10px;
        }
        .value {
          @media screen and (max-width: $tablet-medium) {
            font-size: 40px;
          }
          @media screen and (max-width: $tablet-small) {
            font-size: 35px;
          }
        }
      }
      .label {
        flex: 0 1 auto;
        @media screen and (max-width: $tablet-small) {
          text-align: left;
        }
      }
    }
    &.circle {
      flex-shrink: 0;
      flex-grow: 0;
      position: relative;
      width: 213px;
      height: 213px;
      border: 11px solid rgba(0, 157, 221, 0.3);
      border-radius: 50%;
      @media screen and (max-width: $desktop-small) {
        order: 1;
        margin-bottom: 15px;
        width: 180px;
        height: 180px;
      }
      @media screen and (max-width: $tablet-small) {
        margin-bottom: 30px;
        align-self: center;
      }
      .label,
      .digit {
        position: relative;
        z-index: 2;
      }
      .digit {
        @media screen and (min-width: $desktop-small + 1) {
          margin-bottom: 20px;
        }
        .value,
        .percent {
          letter-spacing: inherit;
        }
        .value {
          font-size: 80px;
        }
      }
      canvas {
        position: absolute;
        z-index: 1;
        width: calc(100% + 22px);
        height: calc(100% + 22px);
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
      }
    }
  }
}