.tranning-info-bloc {
	background-color: $color-gray;
	padding: 15px;
	margin: 30px 0;

	@media screen and (min-width: 641px) {
		padding: 30px;
	}

	ul {
		display: flex;
		align-items: flex-start;
		flex-direction: column;
		justify-content: space-between;

		@media print {
			display: block;
			align-items: flex-start;
			width: 100%;

			li {
				width: 47%;
				display: inline-block;
				vertical-align: top;

				+ li {
					margin-left: 4%;
				}
			}
		}

		@media screen and (min-width: 641px) {
			flex-direction: row;
		}

		li {
			background-color: #ffffff;
			padding: 30px 20px;
			text-align: center;

			+ li {
				margin-top: 15px;
			}

			@media screen and (min-width: 641px) {
				width: calc((100% ) / 2);

				&:not(:last-of-type) {
					margin-right: 30px;
				}

				+ li {
					margin-top: 0;
				}
			}

			i {
				display: block;
				margin-bottom: 15px;
			}

			.title-8 {
				margin-bottom: 15px;
			}

			a {
				text-decoration: underline;
				color: $maincolor-4;
				font-style: italic;
				font-family: $font-1;
				font-size: 16px;
				font-weight: 500;
				line-height: 23px;
			}
		}
	}

}
