<div class="additional-app-bloc">
    <div class="content">
        <ul>
            <li>
                <h4><i class="i-time i-circle"></i><span>Durée</span></h4>
                <p>Stage de 3 jours en présentiel dans l’un de nos centres de formation partout en France.</p>
            </li>
            <li>
                <h4><i class="i-checkbox i-circle"></i><span>Pré-requis</span></h4>
                <p>Avoir moins de 26 ans à la date de signature du contrat d’apprentissage
                    Etre titulaire d’un diplôme de niveau III (BTS, DUT, DEUG)
                    Etre de nationalité française ou bien être autorisé à travailler en France</p>
            </li>
        </ul>
        <p class="promotion">Code formation <span>- DP100</span></p>
    </div>
</div>
