<div class="additional-app-bloc">
    <div class="content">
        <ul>
            <li>
                <h4><i class="i-user i-circle"></i><span>Public</span></h4>
                <p>Chef de site(s) ou futur chef de site(s)</p>
            </li>
            <li>
                <h4><i class="i-time i-circle"></i><span>Durée</span></h4>
                <p>18 jours en présentiel</p>
            </li>
            <li>
                <h4><i class="i-target i-circle"></i><span>Compétences visées</span></h4>
                <p>Encadrer les équipes sur son/ses site(s)<br>
                    Organiser efficacement son/ses site(s)<br>
                    Développer une relation client efficace</p>
            </li>
            <li>
                <h4><i class="i-learn i-circle"></i><span>Méthodes et moyens pédagogiques</span></h4>
                <p>Outils de positionnement, jeux pédagogiques, études de cas, exercices et travaux de groupe.
                    Une évaluation des acquis de formation est réalisée tout au long des modules.</p>
            </li>
            <li>
                <h4><i class="i-information i-circle"></i><span>Information complémentaire</span></h4>
                <p>Le tarfi indiqué ne comprend pas les frais d'inscription à l'OC Propreté.</p>
            </li>
        </ul>
        <p class="promotion">Code formation <span>- CY417</span></p>
    </div>
</div>
