<div class="maincontent-bloc">
    <div class="content">
        <div class="wrapper">
            <div class="wrap">
                <div class="main">
                    <h1 class="title-9">Agent machiniste</h1>
                    {% include '_present-detail-offre-emploi.twig' %}
                    {% include '_editor-detail-offre-emploi.twig' %}
                    <div class="wrap-btn">
                        <a class="btn" href="#" title="Contacter le centre de formation">
                            <span class="txt">Contacter le centre de formation</span>
                        </a>
                    </div>
                </div>
                {% include '_sidebar-detail-offre-emploi.twig' %}
            </div>
        </div>
    </div>
</div>
