<div class="editor-bloc">
    <h3>Description du poste</h3>
    <p>Stage de 3 jours en présentiel dans l’un de nos centre de formation partout en France</p>
    <h3>Domaine de l’entreprise</h3>
    <p>Connaitre les règles de conduite et de sécurité relatives aux PEMP (Recommandation R386 de la CNAMTS)</p>
    <p>Être capable d’accéder à des emplacements et évoluer en hauteur en sécurité en utilisant une PEMP de type 1B et 3B</p>
    <h3>Missions</h3>
    <p>Apports théoriques et manipulations sur les deux types de plateforme élévatrice mobile de personne.Au cours de la formation, une documentation sera remise à chaque stagiaire</p>
    <h3>Profil recherché</h3>
    <p>Les obligations du constructeur, de l’utilisateur, des employeurs et les responsabilités des conducteurs (civile / pénale)
        Le principe de fonctionnement et les différents organes
        Les différents EPI (Équipements de Protection Individuelle)</p>
</div>
