<div class="editor-bloc">
    <h3>Objectifs de la formation</h3>
    <p>Développer ses capacités à manager ses collaborateurs, organiser les chantiers et sécuriser la relation client au quotidien : préparer le CQP chef de site(s)</p>
    <h3>Le programme</h3>
    <h4>Première partie :</h4>
    <p>Se situer dans la fonction de Chef de site</p>
    <p>Identifier les exigences du secteur</p>
    <p>Repérer les attendus métier du chef de site</p>
    <p>Evaluer ses acquis</p>
    <p>Définir un parcours de formation</p>
    <p>Garantir la réalisation des techniques professionnelles</p>
    <p>Organiser les méthodes de remise en état des sols textiles (matériel, produit et procédé)</p>
    <p>Organiser les méthodes de remise en état des sols durs (plastiques, carrelage)</p>
    <p>Organiser les méthodes de remise des pierres naturelles</p>
    <p>Organiser les méthodes de remise des sols en bois</p>
    <p>Organiser les méthodes d’entretien des parties communes</p>

    <h4>Deuxième partie :</h4>
    <p>Organiser et gérer un site propreté</p>

    <p>Analyser les informations relatives au site</p>

    <p>Estimer les temps d'intervention</p>
    <p>Analyser les cadences de travail</p>
    <p>Prendre en compte les spécificités du site</p>
    <p>Gérer les moyens matériels du site</p>
    <p>Faire le diagnostic d'un site</p>
    <p>Gérer humainement un site au quotidien en prenant en compte les aspects sociaux et la rentabilité du site</p>
    <p>Exploiter les systèmes de contrôle qualité pour améliorer la prestation et satisfaire le client</p>
    <p>Contribuer à la mise en oeuvre de la politique de développement durable et la responsabilité sociétale de l’entreprise</p>
    <p>Développement Durable et Responsabilité Sociétale des Entreprises (RSE) : concepts et enjeux</p>
    <p>Les points clés liés à la réglementation</p>
    <p>Être responsable dans sa vie professionnelle</p>
    <p>Identifier les enjeux de la RSE</p>
    <p>Énumérer les règles RSE en vigueur dans l'entreprise</p>
    <p>Réaliser des diagnostics</p>
    <h4>Troisième partie :</h4>
    <p>Animer une équipe et gérer les compétences essentielles à l'exercice du métier
    <p>Valoriser les bonnes pratiques managériales</p>
    <p>Se projeter dans son rôle de manager animateur</p>
    <p>Développer et évaluer les compétences de ses collaborateurs</p>
    <p>Conduire une réunion de chantier</p>
    <p>Gérer les droits à congés des agents</p>
    <p>Réaliser les entretiens professionnels et d’évaluation</p>
    <p>Gérer un différend au sein de l’équipe</p>
    <p>Prendre en compte la politique Santé & Sécurité au Travail dans l’organisation du chantier et l’animation de son équipe</p>
    <p>Intégrer la politique Santé & Sécurité au Travail (S&ST) dans ses pratiques managériales</p>
    <p>Identifier les enjeux de la prévention des risques au travers de cas pratique</p>
    <p>Associer le client dans l’élaboration du Plan de Prévention et la politique S&ST</p>
    <p>Le rôle commercial de l’encadrant de proximité</p>
    <p>Intégrer les enjeux de la relation client</p>
    <p>Développer une bonne relation au quotidien avec le client</p>
    <p>Appréhender le rôle commercial de l’encadrant d’exploitation</p>
    <p>Organiser le plan de veille commerciale</p>
</div>
