<div class="editor-bloc" id="read-more-68">
    <h3>Métiers visés par la formation</h3>
    <p>Commercial<br>
        Responsable de secteur<br>
        Chef d’agence</p>
    <h3>Le programme</h3>
    <h4>Au CFA propreté</h4>
    <p>Opération de stérilisation des dispositifs médicaux,</p>
    <p>Entretien des locaux hors zones à risques,</p>
    <p>Entretien des établissements de santé, des établissements à contamination (zones à risques),</p>
    <p>Contrôle de la qualité,</p>
    <p>Animation d’équipe,</p>
    <p>Microbiologie et biologie appliquée,</p>
    <p>Développement durable,</p>
    <p>Gestion des déchets,</p>
    <p>Economie et gestion,</p>
    <p>Français, histoire, géographie, éducation morale et civique,</p>
    <p>Sciences physiques et chimiques,</p>
    <p>Langue vivante,</p>
    <p>Prévention Santé Environnement,</p>
    <p>Education civique et sportive</p>
    <h4>En entreprise</h4>
    <p>Conformément au référentiel de l’Education Nationale, le programme comprend notamment les matières suivantes :</p>
    <p>La préparation et la mise en oeuvre des opérations d’entretien courant et de remise en état : spray method, lavage mécanisé, décapage, mise en protection, nettoyage vapeur…</p>
    <p>La préparation et la mise en oeuvre des opérations d’entretien courant et de remise en état : spray method, lavage mécanisé, décapage, mise en protection, nettoyage vapeur…</p>
    <p>La conduite d’équipe et l’encadrement pour la gestion des ressources humaines, l’information, la formation…</p>
    <p>La réalisation des opérations techniques de nettoyage et de décontamination, de bionettoyage</p>
    <p>La participation à la politique sécurité et à sa mise en oeuvre</p>
    <p>La réalisation et le suivi des contrôles qualité</p>
    <p>La communication avec les partenaires internes et externes, la réalisation de comptes rendus…</p>
</div>
