<section class="featured-news-bloc">
    <div class="wrapper">
        <h3 class="title-1 blue-polygon">
            <span>À la une</span>
        </h3>
        {% include '../components/_article-big.twig' %}
        <a class="btn" href="#" title="Voir toutes les mises à la une">
            <span class="txt">Toutes les mises à la une</span>
        </a>
    </div>
</section>