<div class="maincontent-bloc">
    <div class="content">
        <div class="wrapper">
            <ul class="tags">
                <li>
                    <span>Sécurité/Habilitation/Travaux en hauteur</span>
                </li>
            </ul>
            <div class="wrap">
                <div class="main">
                    <h1 class="title-9">Certificat de Qualification Professionnelle : Chef de site(s)</h1>
                    {% include '_present-continue.twig' %}
                    <img src="{{ img_url }}formation1.png" alt="" class="w-100">
                    {% include '_editor.twig' %}
                    <div class="wrap-btn">
                        <a class="btn" href="#" title="Contacter le centre de formation">
                            <span class="txt txt-down">Afficher plus</span>
                        </a>
                    </div>
                    {% include '_additional-app.twig' %}
                    {% include '_tranning-info.twig' %}
                </div>
                {% include '_sidebar.twig' %}
            </div>
        </div>
    </div>
</div>
