<div class="maincontent-bloc">
    <div class="content">
        <div class="wrapper">
            <ul class="tags">
                <li>
                    <span>Formation diplomante</span>
                </li>
            </ul>
            <div class="wrap">
                <div class="main">
                    <h1 class="title-9">Responsable Développement Hygiène, Propreté et Services</h1>
                    {% include '_present-alternance.twig' %}
                    <img src="{{ img_url }}formation1.png" alt="" class="w-100">
                    {% include '_editor-fiche-formation-alternance.twig' %}
                    {% include '_additional-app-fiche-formation-alternance.twig' %}
                </div>
                {% include '_sidebar-fiche-formation-alternance.twig' %}
            </div>
        </div>
    </div>
</div>
