<div class="filter-type2-bloc">
    <div class="content">
        <div class="wrapper">
            <h3 class="title-1 blue-polygon">
                <span>Nos Formations</span>
            </h3>

            <form method="POST" action="#">
                <div class="list-select">
                    <select>
                        <option>Collégiens et lycéens</option>
                        <option value="Villejuif1">Collégiens et lycéens</option>
                        <option value="Villejuif2">Villejuif2</option>
                        <option value="Villejuif3">Villejuif3</option>
                    </select>
                    <select>
                        <option>Domaine</option>
                        <option value="Villejuif1">Villejuif1</option>
                        <option value="Villejuif2">Prévention, Sécurité, Habilitation Et Travaux En Hauteur</option>
                        <option value="Villejuif3">Villejuif3</option>
                    </select>
                    <select>
                        <option>Type</option>
                        <option value="Villejuif1">Formation Continue</option>
                        <option value="Villejuif2">Villejuif2</option>
                        <option value="Villejuif3">Villejuif3</option>
                    </select>
                </div>
                <div class="wrap">
                    <span class="or">OU</span>
                </div>
                <div class="wrap">
                    <label class="title-4">Code de formation</label>
                    <div class="hasReset">
                        <input type="text" placeholder="Code de formation">
                        <i class="i-close"></i>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
