<div class="filter-result-bloc">
    <div class="content">
        <div class="wrapper">
            {%  include '_formation-result.twig' %}
            {%  include '_page-result.twig' %}
            {%  include '_alaune-result.twig' %}
            {%  include '_jobs-offers-result.twig' %}
        </div>
    </div>
</div>
