<div class="filter-bloc">
    <div class="content">
        <div class="wrapper">
            <form method="POST" action="#">
                <p class="form-title"><i class="i-filter"></i>Filtrer :</p>
                <ul class="list-option">
                    <li class="checkbox">
                        <input type="checkbox" id="formation">
                        <label for="formation">Formation (2)
                        </label>
                    </li>
                    <li class="checkbox">
                        <input type="checkbox" id="page">
                        <label for="page">Page (10)
                        </label>
                    </li>
                    <li class="checkbox">
                        <input type="checkbox" id="alaune">
                        <label for="alaune">À la une (2)
                        </label>
                    </li>
                    <li class="checkbox">
                        <input type="checkbox" id="Offre">
                        <label for="Offre">Offre en alternance
                        </label>
                    </li>
                </ul>
            </form>
        </div>
    </div>
</div>
