<section class="contact-bloc">
    <div class="wrapper">
        <h3 class="title-1 blue-polygon">
            <span>Nous contacter</span>
        </h3>
        <div class="form-contacter">
            <form>
                <div class="row-contact">
                    <div class="col1">
                        <div class="form-group">
                            <label for="select-objet">Objet de la demande*</label>
                            <select id="select-objet" class="select">
                                <option value="">Choisir votre objet</option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row-contact">
                    <div class="col2">
                        <div class="form-group">
                            <label for="select-etes">Vous êtes</label>
                            <select id="select-etes" class="select">
                                <option value="">Choisir votre profil</option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                        </div>
                    </div>
                    <div class="col2">
                        <div class="form-group">
                            <label for="entreprise">Nom de l’entreprise</label>
                            <input type="email" class="form-control" id="entreprise" >
                        </div>
                    </div>
                </div>
                <div class="row-contact">
                    <div class="col2">
                        <div class="form-group">
                            <label for="nom">Nom*</label>
                            <input type="email" class="form-control" id="nom" >
                        </div>
                    </div>
                    <div class="col2">
                        <div class="form-group">
                            <label for="prenom">Prénom*</label>
                            <input type="email" class="form-control" id="prenom" >
                        </div>
                    </div>
                </div>
                <div class="row-contact">
                    <div class="col2">
                        <div class="form-group">
                            <label for="select-lieu">Lieu*</label>
                            <select id="select-lieu" class="select">
                                <option value="">Choisir un département</option>
                                <option value="4">Thomas Edison</option>
                                <option value="1">Nikola</option>
                                <option value="3">Nikola Tesla</option>
                                <option value="5">Arnold Schwarzenegger</option>
                            </select>
                        </div>
                    </div>
                    <div class="col2"></div>
                </div>
                <div class="row-contact">
                    <div class="col2">
                        <div class="form-group">
                            <label for="email">Email*</label>
                            <input type="email" class="form-control" id="email" >
                        </div>
                    </div>
                    <div class="col2">
                        <div class="form-group">
                            <label for="telephone">Téléphone</label>
                            <input type="email" class="form-control" id="telephone" >
                        </div>
                    </div>
                </div>
                <div class="row-contact">
                    <div class="col1">
                        <div class="form-group">
                            <label for="message">Message*</label>
                            <textarea class="form-control" id="message" rows="3"></textarea>
                        </div>
                    </div>
                </div>

                <div class="row-contact">
                    <div class="col1 isUploadFile js-form-wrapper form-wrapper" data-drupal-selector="edit-row7-col1" id="edit-row7-col1">
                        <div id="ajax-wrapper">
                            <div class="uploadfile js-form-item form-item js-form-type-webform-document-file form-item-attachment js-form-item-attachment">
                                <label for="edit-attachment-upload">Pièces jointes</label>
                                <div id="edit-attachment-upload" class="js-webform-document-file webform-document-file js-form-managed-file form-managed-file">
                                    <label class="btn webform-file-button" for="edit-attachment-upload-button--2">
                                        <span class="txt">Ajouter un document</span>
                                    </label>
                                    <input multiple="multiple" id="edit-attachment-upload-button--2" class="webform-file-button-input js-form-file form-file" type="file" name="files[attachment][]" size="22">
                                    <button class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-attachment-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-attachment-upload-button" name="attachment_upload_button" value="Transférer">
                                        <span class="txt">Transférer</span>
                                    </button>
                                    <div class="description">
                                        Un nombre illimité de fichiers peuvent être transférés dans ce champ.<br>Limité à 50 Mo.<br>Types autorisés : txt rtf pdf doc docx odt ppt pptx odp xls xlsx ods png jpg.

                                    </div>
                                    <input data-drupal-selector="edit-attachment-fids" type="hidden" name="attachment[fids]">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col1 isUploadFile js-form-wrapper form-wrapper" data-drupal-selector="edit-row7-col1" id="edit-row7-col1cp">
                        <div id="ajax-wrappercp">
                            <div class="uploadfile js-form-item form-item js-form-type-webform-document-file form-item-attachment js-form-item-attachment">

                                <label for="edit-attachment-upload--IEopsXbue3w">Pièces jointes</label>
                                <div id="edit-attachment-upload--IEopsXbue3w" class="js-webform-document-file webform-document-file js-form-managed-file form-managed-file">
                                    <label class="btn webform-file-button" for="edit-attachment-upload-ieopsxbue3w-button--tYUKoSQcvzc">
                                        <span class="txt">Ajouter un document</span>
                                    </label>

                                    <input multiple="multiple" id="edit-attachment-upload-ieopsxbue3w-button--tYUKoSQcvzc" class="webform-file-button-input js-form-file form-file" type="file" name="files[attachment][]" size="22">
                                    <button class="js-hide button js-form-submit form-submit" data-drupal-selector="edit-attachment-upload-button" formnovalidate="formnovalidate" type="submit" id="edit-attachment-upload-button--lHEJFKxX-js" name="attachment_upload_button" value="Transférer">
                                        <span class="txt">Transférer</span>
                                    </button>
                                    <div class="description">
                                        Un nombre illimité de fichiers peuvent être transférés dans ce champ.<br>Limité à 50 Mo.<br>Types autorisés : txt rtf pdf doc docx odt ppt pptx odp xls xlsx ods png jpg.
                                    </div>
                                    <input data-drupal-selector="edit-attachment-fids" type="hidden" name="attachment[fids]" value="60 63">

                                    <div class="js-form-item form-item js-form-type-checkbox form-item-attachment-file-60-selected js-form-item-attachment-file-60-selected">
                                        <input data-drupal-selector="edit-attachment-file-60-selected" type="checkbox" id="edit-attachment-file-60-selected--sJRcqeomfOg" name="attachment[file_60][selected]" value="1" class="form-checkbox">
                                        <label for="edit-attachment-file-60-selected--sJRcqeomfOg" class="option">
						<span class="file file--mime-application-pdf file--application-pdf">
							<a href="http://inhni.local:8080/system/files/webform/formation_contact/_sid_/Formation%20alternance%201%20%282%29_7.pdf" type="application/pdf; length=896269">Formation alternance 1 (2).pdf</a>
						</span>
                                        </label>
                                    </div>
                                    <div class="js-form-item form-item js-form-type-checkbox form-item-attachment-file-63-selected js-form-item-attachment-file-63-selected">
                                        <input data-drupal-selector="edit-attachment-file-63-selected" type="checkbox" id="edit-attachment-file-63-selected--DZy4BA46sgI" name="attachment[file_63][selected]" value="1" class="form-checkbox">
                                        <label for="edit-attachment-file-63-selected--DZy4BA46sgI" class="option">
						<span class="file file--mime-application-pdf file--application-pdf">
							<a href="http://inhni.local:8080/system/files/webform/formation_contact/_sid_/Formation%20alternance%201%20%282%29_8.pdf" type="application/pdf; length=896269">Formation alternance 1 (2).pdf</a>
						</span>
                                        </label>
                                    </div>

                                    <button data-drupal-selector="edit-attachment-remove-button" formnovalidate="formnovalidate" type="submit" id="edit-attachment-remove-button---BFp3aUoL_Q" name="attachment_remove_button" value="Supprimer la sélection" class="button js-form-submit form-submit">
                                        <span class="txt">Supprimer la sélection</span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row-contact">
                    <div class="col1">
                        <div class="checkboxcontact">
                            <input id="checkbox2" class="styled" type="checkbox" checked="">
                            <label for="checkbox2">
                                Connaitre les règles de conduite et de sécurité relatives.
                                <span>Consultez notre politique de confidentialité.</span>
                            </label>
                        </div>
                    </div>

                </div>
                <div class="row-contact">
                    <div class="col1">
                        <div class="captcha">
                            <img src="{{ img_url }}captcha.jpg" alt=""/>
                        </div>

                    </div>
                </div>
                <div class="row-contact">
                    <div class="col1">
                        <div class="buttons">
                            <a class="btn" href="#" title="Envoyer">
                                <span class="txt">Envoyer</span>
                            </a>
                        </div>

                    </div>
                </div>
            </form>
        </div>

    </div>
</section>