<section class="inhni-numbers-bloc">
    <div class="wrapper">
        <h2 class="title-1">Accédez à 105 formations continues</h2>
        <p class="desc">En quelques chiffres</p>
        <div class="numbers">
            <div class="number">
                <span class="digit" data-digit="7">
                    <span class="value">0</span>
                </span>
                <span class="label">Centres de formation d’apprentis du CAP au Master</span>
            </div>
            <div class="number">
                <span class="digit" data-digit="40">
                    <span class="value">0</span>
                </span>
                <span class="label">Sites de formation et de conseil en France</span>
            </div>
            <div class="number circle">
                <span class="digit" data-digit="97">
                    <span class="value">0</span>
                    <span class="percent">%</span>
                </span>
                <span class="label">De réussite</span>
            </div>
            <div class="number">
                <span class="digit" data-digit="1600">
                    <span class="value">0</span>
                </span>
                <span class="label">Sites de formation et de conseil en France</span>
            </div>
            <div class="number">
                <span class="digit" data-digit="29000">
                    <span class="value">0</span>
                </span>
                <span class="label">Stagiaires</span>
            </div>
        </div>
    </div>
</section>