<div class="jobs-offers-result">
    <h3 class="title-11 blue-polygon">
        <span>Offres en alternance (8)</span>
    </h3>
    <div class="list-result">
        <div class="jobs-offers-bloc">
            <div class="jobs">
                {% for i in 1..4 %}
                    {% include '../components/_job.twig' %}
                {% endfor %}
            </div>
            <a class="btn" href="#" title="Voir toutes les offres d'emploi">
                <span class="txt txt-down">Voir plus de résultats</span>
            </a>
        </div>
    </div>
</div>
