<section class="jobs-zoom-bloc">
    <div class="wrapper">
        <h3 class="title-1 blue-polygon">
            <span>Métiers associés à la formation</span>
        </h3>
        <div class="zooms">
            {% for i in 1..3 %}
                {% include '../components/_zoom.twig' %}
            {% endfor %}
        </div>
    </div>
</section>
