<div class="page-result">
    <h3 class="title-11 blue-polygon">
        <span>Pages (10)</span>
    </h3>
    <div class="list-result list-result-2">
        <article class="item item-2">
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Nom de la page
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam
                    ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor
                    vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
        <article class="item item-2">
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Nom de la page
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam
                    ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor
                    vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
        <article class="item item-2">
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Nom de la page
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam
                    ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor
                    vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
        <article class="item item-2">
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Nom de la page
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam
                    ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor
                    vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
        <article class="item item-2">
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Nom de la page
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam
                    ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor
                    vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix">
                                <a class="link" href="#" title="Continuer la lecture">Voir l'article</a>
                            </span>
            </div>
        </article>
        <article class="item item-2">
            <div class="content">
                <h4 class="title-12">
                    <a href="#" title="Consulter l'article">
                        Nom de la page
                    </a>
                </h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed eget dapibus libero. Maecenas aliquam
                    ante dapibus purus pulvinar, eget egestas tortor varius. Quisque luctus dui id ex porttitor
                    vehicula. Cras varius ipsum nec […]
                </p>
                <span class="link-arrow link-arrow-blue fix"><a class="link" href="#" title="Continuer la lecture">Voir l'article</a></span>

            </div>
        </article>
    </div>
    <a class="btn" href="#" title="Voir toutes les offres d'emploi">
        <span class="txt txt-down">Voir plus de résultats</span>
    </a>
</div>
