<ul class="present-list-detail">
    <li>
        <i class="i-contrat i-circle"></i>
        <p class="des">Bac +3</p>
    </li>
    <li>
        <i class="i-calendar i-circle"></i>
        <p class="des">À partir de Novembre 2018</p>
    </li>
    <li>
        <i class="i-pin i-circle"></i>
        <p class="des">Villejuif</p>
    </li>
    <li>
        <i class="i-euro i-circle"></i>
        <p class="des"><span>De</span> 800€ <span>HT à</span> 1100€</p>
    </li>
    <li>
        <i class="i-diplome i-circle"></i>
        <p class="des">Certificat type*</p>
    </li>
    <li>
        <i class="i-people i-circle"></i>
        <p class="des">2 Postes à pourvoir</p>
    </li>
</ul>
