<ul class="present-list">
    <li>
        <p class="title-10">Certificat</p>
        <p class="des">Bac +3</p>
    </li>
    <li>
        <p class="title-10">Durée</p>
        <p class="des">1 an</p>
        <p class="unit">en présentiel</p>
    </li>
    <li>
        <p class="title-10">Pré-requis</p>
        <p class="des">Diplôme de niveau III</p>
    </li>
    <li>
        <p class="title-10">Salaire</p>
        <p class="des"><span>De</span> 800€ <span>HT<br>
                à</span> 1100€</p>
    </li>
</ul>
