<ul class="present-list">
    <li>
        <p class="title-10">Durée</p>
        <p class="des">18 jours </p>
        <p class="unit">en présentiel</p>
    </li>
    <li>
        <p class="title-10">Certificat</p>
        <p class="des">CQP Chef de site</p>
    </li>
    <li>
        <p class="title-10">CPF</p>
        <p class="des">Eligible</p>
    </li>
    <li>
        <p class="title-10">Tarif</p>
        <p class="des">3150€</p>
        <p class="unit">/personne</p>
    </li>
</ul>
