<div class="search-bloc">
    <div class="content">
        <div class="wrapper">
            <form method="POST" action="#">
                <input type="text" placeholder="Recherche exemple"/>
                <button type="submit"></button>
            </form>
        </div>
    </div>
</div>
