<div class="testimonials-bloc">
    <div class="decoration">
        {% include '../components/_logos.twig' %}
        <div class="lazy_responsive_image"
             style="background-image: url('{{ img_url }}placeholder.gif');"
             data-lazy-src-0-1200="" {# leave this empty #}
             data-lazy-src-1201="{{ img_url }}testimonial-decoration.jpg">
            <noscript>
                <img src="{{ img_url }}testimonial-decoration.jpg" alt="{{ project_name }}"/>
            </noscript>
        </div>
    </div>
    <div class="content">
        <div class="wrapper">
            <div class="testimonials">
                {% for i in 1..5 %}
                    {% include '../components/_testimonial.twig' %}
                {% endfor %}
            </div>
        </div>
    </div>
</div>