<div class="tranning-info-bloc">
    <div class="content">
        <ul>
            <li>
                <i class="i-before i-circle"></i>
                <h3 class="title-8">Avant cette formation</h3>
                <p><a href="#">Certificat d’Aptitude à la conduite en Sécurité CACESS® - PEMP de Type 1 et 3 (R386) - Conducteurs confirmés</a></p>
            </li>
            <li>
                <i class="i-more i-circle"></i>
                <h3 class="title-8">Compléter votre formation</h3>
                <p><a href="#">Certificat d’Aptitude à la conduite en Sécurité CACESS® - PEMP de Type 1 et 3 (R386) - Conducteurs experts</a></p>
            </li>
        </ul>
    </div>
</div>
