#big_menu {
	margin: 15px auto 0;
	transition: margin 0.3s ease-in-out;

	@media print {
		display: none;
	}

	@media screen and (max-width: $desktop-medium) {
		margin: 15px 30px 0 auto;
	}
	@media screen and (min-width: 1201px) {
		.sticky-header & {
			margin: 5px auto 0;
			@media screen and (max-width: $desktop-medium) {
				margin: 5px 30px 0 auto;
			}
		}
	}
	@media screen and (max-width: 1200px) {
		display: none;
	}
	& > ul {
		display: flex;
		align-items: center;
		justify-content: center;
		& > li {
			&:not(:last-of-type) {
				margin-right: 45px;
			}
			&:nth-child(1) {
				@include bigMenuColor($maincolor-entreprises);
			}
			&:nth-child(2) {
				@include bigMenuColor($maincolor-salaries);
			}
			&:nth-child(3) {
				@include bigMenuColor($maincolor-jeunes);
			}
			&:nth-child(4) {
				@include bigMenuColor($maincolor-prescripteurs);
			}
			&:nth-child(5) {
				@include bigMenuColor($maincolor-demandeurs);
			}
			& > a {
				font-family: $font-2;
				text-transform: uppercase;
				font-size: 16px;
				font-weight: 700;
				letter-spacing: 0.57px;
				line-height: 21px;
				display: flex;
				align-items: center;
				justify-content: space-between;
				height: 72px;
				transition: color 0.3s ease-in-out;
				&:after {
					content: '\E801';
					@include fontello;
					margin-left: 10px;
					flex-shrink: 0;
					flex-grow: 0;
					font-size: 6.5px;
					color: $maincolor-2;
					transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
					transform-origin: 50% 50%;
					html:not(.ie10) & {
						transform: translateY(2.5px);
					}
				}
				span {
					position: relative;
					display: flex;
					align-items: center;
					justify-content: flex-start;
					height: 100%;
					&:before {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						transform: translateX(-50%);
						bottom: 7px;
						height: 4px;
						width: 0;
						opacity: 0;
						transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
						.sticky-header & {
							bottom: 3px;
						}
					}
				}
			}
			&:hover,
			&:active {
				& > a {
					&:after {
						transform: rotate(180deg);
						html:not(.ie10) & {
							transform: translateY(2.5px) rotate(180deg);
						}
					}
					span {
						&:before {
							width: 30px;
							opacity: 1;
						}
					}
				}
				& > .sub_menu {
					border-color: #E8E9EC;
					opacity: 1;
					pointer-events: auto;
				}
			}
		}
	}
	.sub_menu {
		position: absolute;
		top: calc(100% - 14px);
		background: #fff;
		border: 1px solid transparent;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
		width: 1140px;
		left: 50%;
		transform: translateX(-50%);
		transition: border-color 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out;
		padding: 40px 0 75px 361px;
		display: flex;
		align-items: flex-start;
		justify-content: space-between;
		@media screen and (min-width: 1201px) {
			.sticky-header & {
				top: calc(100% - 8px);
			}
		}
		.menu-featured {
			width: 361px;
			height: 100%;
			position: absolute;
			top: 0;
			left: 0;
			color: #fff;
			display: flex;
			align-items: center;
			justify-content: center;
			padding: 15px 65px 0;
			text-align: center;
			font-size: 22px;
			font-family: $font-4;
			line-height: 26px;
			font-weight: 600;
			&:before {
				content: '\E804';
				@include fontello;
				font-size: 144px;
				position: absolute;
				z-index: 1;
				top: 48.3%;
				left: 50%;
				transform: translateX(-50%) translateY(-50%);
				display: block;
			}
			&.menu-featured-image {
				padding: 0;
				background: none !important;
				&:before {
					content: '';
				}
				.image {
					width: 100%;
					height: 100%;
					.lazy_image {
						height: 100%;
					}
				}
			}
			span {
				position: relative;
				display: block;
				z-index: 2;
			}
		}
		ul {
			width: 50%;
			padding: 0 25.5px;
			color: #42464D;
			letter-spacing: 0.16px;
			line-height: 19px;
			li {
				font-weight: 700;
				&:not(:last-of-type) {
					margin-bottom: 18px;
				}
				a {
					transition: color 0.3s ease-in-out;
				}
			}
		}
		&:before {
			content: '';
			display: block;
			position: absolute;
			top: 36px;
			width: 1px;
			height: calc(100% - 64px);
			background: rgba(#42464D, 0.3);
			left: calc(100% - (100% - 361px) / 2 - 1px);
		}
	}
}
