.cc_container {
	border-color: $maincolor-1;

	@media screen and (min-width: $tablet-medium) {
		padding: 10px;
	}

	.cc_btn {
		color: $maincolor-1;
		background-color: transparent;
		border: 1px solid $maincolor-1;

		&:hover {
			background-color: $maincolor-1;
			color: $white;
		}
	}
}
