#header {
	height: 132px;
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;

	@media print {
		position: static;
	}

	@media screen and (min-width: 1201px) {
		transition: height 0.15s ease-in-out;
		.sticky-header & {
			transition: height 0.3s ease-in-out;
			height: 86px;
		}
	}

	@media screen and (max-width: 1200px) {
		height: 60px;
	}

	&:before {
		content: '';
		background: #fff;
		width: 100%;
		height: 100%;
		position: absolute;
		display: block;
		top: 0;
		left: 0;
		//box-shadow: 0 13px 10px -10px rgba(0, 0, 0, 0.15);
	}

	.container {
		padding: 58px 0 26px;
		width: 100%;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		margin: 0 auto;
		position: relative;

		@media print {
			max-width: 71.375rem;
		}

		@media screen and (min-width: $desktop-medium + 1) {
			max-width: $desktop-medium - 60;
		}

		@media screen and (max-width: $desktop-medium) {
			padding: 58px 30px 26px;
		}

		@media screen and (max-width: 1200px) {
			padding: 10px 15px;
		}

		@media screen and (min-width: 1201px) {
			transition: padding-top 0.15s ease-in-out, padding-bottom 0.15s ease-in-out;

			.sticky-header & {
				padding: 15px 0;
				transition: padding-top 0.3s ease-in-out, padding-bottom 0.3s ease-in-out;

				@media screen and (max-width: $desktop-medium) {
					padding: 15px 30px;
				}
			}
		}
	}
	.menu-toggle {
		@media screen and (min-width: 1201px) {
			display: none;
		}

		display: block;
		user-select: none;
		cursor: pointer;
		position: relative;
		width: 30px;
		height: 26px;
		opacity: 0.8;
		transform: scale(0.8);

		span {
			display: block;
			position: absolute;
			height: 2px;
			width: 100%;
			background: $textcolor-1;
			border-radius: 9px;
			left: 0;

			&:nth-child(1) {
				top: 0;
				transition: top 0.25s ease-in-out, left 0.25s ease-in-out, width 0.25s ease-in-out;

				.menu-open & {
					top: 18px;
					width: 0;
					left: 50%;
				}
			}

			&:nth-child(2) {
				top: 12px;
				transition: transform 0.25s ease-in-out;

				.menu-open & {
					transform: rotate(45deg);
				}
			}

			&:nth-child(3) {
				top: 12px;
				transition: transform 0.25s ease-in-out;

				.menu-open & {
					transform: rotate(-45deg);
				}
			}

			&:nth-child(4) {
				top: 24px;
				transition: top 0.25s ease-in-out, left 0.25s ease-in-out, width 0.25s ease-in-out;

				.menu-open & {
					top: 18px;
					width: 0;
					left: 50%;
				}
			}
		}
	}

	.logos {
		flex-shrink: 0;
		flex-grow: 0;

		@media screen and (min-width: 1201px) {
			margin-top: -10px;
			transition: margin-top 0.15s ease-in-out;

			.sticky-header & {
				transition: margin-top 0.3s ease-in-out;
				margin-top: 0;
			}
		}

		@media screen and (max-width: 1200px) {
			margin-left: auto;
			margin-right: auto;
		}

		&:before {
			@media screen and (max-width: 1200px) {
				left: 111px;
				height: 35px;
			}

			@media screen and (min-width: 1201px) {
				transition: left 0.15s ease-in-out, height 0.15s ease-in-out;

				.sticky-header & {
					transition: left 0.3s ease-in-out, height 0.3s ease-in-out;
					left: 118px;
					height: 35px;
				}
			}

			@media screen and (max-width: $tablet-small) {
				display: none;
			}
		}
		a {
			&.logo {
				@media screen and (max-width: $tablet-small) {
					margin-right: 0;
				}

				img {
					transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

					@media screen and (max-width: 1200px) {
						width: auto !important;
						height: 40px;
					}

					@media screen and (min-width: 1201px) {
						transition: width 0.15s ease-in-out, height 0.15s ease-in-out;

						.sticky-header & {
							transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
							width: 100px;
						}
					}
				}
			}
			&.proprete {
				@media screen and (max-width: $tablet-small) {
					display: none;
				}

				img {
					transition: width 0.3s ease-in-out, height 0.3s ease-in-out;

					@media screen and (min-width: 1201px) {
						transition: width 0.15s ease-in-out, height 0.3s ease-in-out;

						.sticky-header & {
							width: 114px;
							transition: width 0.3s ease-in-out, height 0.3s ease-in-out;
						}
					}
				}
			}
		}
	}

	.header-quote {
		position: absolute;
		top: 16px;
		font-size: 12px;
		font-style: italic;
		letter-spacing: 0.03px;
		line-height: 15px;
		text-align: right;
		color: #696E78;

		@media screen and (min-width: 1201px) {
			.sticky-header & {
				top: calc(100% + 28px);
				color: $white;
			}
		}

		@media screen and (max-width: 1200px) {
			display: none;
		}
	}
}
