.clearfix {
  @include clearfix;
}

.wrapper {
  margin: 0 auto;
  position: relative;

  @media print {
    max-width: 71.375rem;
  }

  @media screen and (min-width: 1203px) {
    max-width: 1142px;
  }
  @media screen and (max-width: 1202px) {
    padding: 0 30px;
  }
  @media screen and (max-width: $tablet-medium) {
    padding: 0 15px;
  }
}

#main-content {
  position: relative;
}

body {
  padding-top: 132px;
  @media screen and (max-width: 1200px) {
    padding-top: 60px;
  }
}
