//============================================================
// Caching
//============================================================

$random: random(99999999999);

// ============================================================
// Viewports
//============================================================

$desktop-medium: 1440px;
$desktop-medium2: 1340px;
$desktop-small: 1024px;
$tablet-medium: 768px;
$tablet-small: 480px;

//============================================================
// Typography
//============================================================

$font-1: 'Lato', sans-serif;
$font-2: 'Roboto Condensed', sans-serif;
$font-3: 'Roboto', sans-serif;
$font-4: 'Source Serif Pro', serif;

//============================================================
// Colors
//============================================================

$textcolor-1: #171B21;
$textcolor-2: #F4F5F5;
$textcolor-3: #D8F0FA;

$maincolor-1: #005A9C;
$maincolor-1-gradient-combination: #01477B;

$maincolor-2: #009DDD;
$maincolor-2-gradient-combination: #018BC3;

$maincolor-3: #1E3342;

$maincolor-4: #009DDD;
$maincolor-5: #1E5091;

$maincolor-jeunes: #F24D6D;
$maincolor-entreprises: $maincolor-jeunes;
$maincolor-salaries: $maincolor-jeunes;
$maincolor-collegiens-lyceens: #d12e50;
$maincolor-prescripteurs: $maincolor-jeunes;
$maincolor-demandeurs: #fb6850;

$colorline: #42464D;
$colorline2: #E8E9EC;
$colorline3: #696E78;
$color-gray: #F2F4F8;
$white: #fff;
$color-blue: #1E5091;

$facebook-color: #3d5b99;
$twitter-color: #1ea1f1;
$youtube-color: #ff0000;
$linkedin-color: #0274b3;
$viadeo-color: #f07355;
$pinterest-color: #bd081c;
$google-plus-color: #df493a;

//============================================================
// Easing
//============================================================

// Cubic
$easeInCubic: cubic-bezier(0.550, 0.055, 0.675, 0.190);
$easeOutCubic: cubic-bezier(0.215, 0.610, 0.355, 1.000);
$easeInOutCubic: cubic-bezier(0.645, 0.045, 0.355, 1.000);

// Circ
$easeInCirc: cubic-bezier(0.600, 0.040, 0.980, 0.335);
$easeOutCirc: cubic-bezier(0.075, 0.820, 0.165, 1.000);
$easeInOutCirc: cubic-bezier(0.785, 0.135, 0.150, 0.860);

// Expo
$easeInExpo: cubic-bezier(0.950, 0.050, 0.795, 0.035);
$easeOutExpo: cubic-bezier(0.190, 1.000, 0.220, 1.000);
$easeInOutExpo: cubic-bezier(1.000, 0.000, 0.000, 1.000);

// Quad
$easeInQuad: cubic-bezier(0.550, 0.085, 0.680, 0.530);
$easeOutQuad: cubic-bezier(0.250, 0.460, 0.450, 0.940);
$easeInOutQuad: cubic-bezier(0.455, 0.030, 0.515, 0.955);

// Quart
$easeInQuart: cubic-bezier(0.895, 0.030, 0.685, 0.220);
$easeOutQuart: cubic-bezier(0.165, 0.840, 0.440, 1.000);
$easeInOutQuart: cubic-bezier(0.770, 0.000, 0.175, 1.000);

// Quint
$easeInQuint: cubic-bezier(0.755, 0.050, 0.855, 0.060);
$easeOutQuint: cubic-bezier(0.230, 1.000, 0.320, 1.000);
$easeInOutQuint: cubic-bezier(0.860, 0.000, 0.070, 1.000);

// Sine
$easeInSine: cubic-bezier(0.470, 0.000, 0.745, 0.715);
$easeOutSine: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$easeInOutSine: cubic-bezier(0.445, 0.050, 0.550, 0.950);

// Back
$easeInBack: cubic-bezier(0.600, -0.280, 0.735, 0.045);
$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);
$easeInOutBack: cubic-bezier(0.680, -0.550, 0.265, 1.550);
